body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F4F4F4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li{
  text-decoration: none;
  list-style-type: none;
}

.backgroundClearDay{
  background-image: url("./weahter-background/clear_day.png");
  background-size: cover;
  color: white;
  font-weight: bolder;
}

.backgroundOvercastDay{
  background-image: url("./weahter-background/overcast_day.png");
  background-size: cover;
  color: white;
  font-weight: bolder;
}
.backgroundRainDay{
  background-image: url("./weahter-background/rain_day.png");
  background-size: cover;
  color: white;
  font-weight: bolder;
}

.backgroundThunderStormDay{
  background-image: url("./weahter-background/thunderstorm_day.png");
  background-size: cover;
  color: white;
  font-weight: bolder;
}

.card-body{
  background-color: rgba(0,0,0,0.2);
}
